<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

    <table title="Questions">
        <tr bgcolor = '808080'>
            <td>Title</td>
        </tr>
        {% if questions_list %}
        {% for q in questions_list %}
            <tr>
                <td> <a href="{{q.get_absolute_url }}" title="">{{q.title}}</a> </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td>No questions...</td>
            </tr>
        {% endif %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if questions_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ questions_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ questions_list.number }} of {{ questions_list.paginator.num_pages }}.
            </span>

            {% if questions_list.has_next %}
                <a href="?page={{ contacts.next_page_number }}">next</a>
                <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>