<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>

    <table title="Questions">
        <tr bgcolor = '808080'>
            <td>Title</td>
        </tr>
        {% if questions_list %}
        {% for q in questions_list %}
            <tr>
                <td> <a href="{{q.get_absolute_url }}" title="">{{q.title}}</a> </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td>No questions...</td>
            </tr>
        {% endif %}
    </table>

</body>
</html>